html
  head
    link(rel='stylesheet', href='./main.css')
  body
    section
      h1
        | Paige Keenan 
        span Front End
        |  Developer
    div
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r57/three.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(src='./main.js')
